@model Sales_Purchase1.Models.Contact

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration:none">Home</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Contact" asp-action="Index" style="text-decoration:none">Contact</a></li>
    <li class="breadcrumb-item active">Edit</li>
</ol>

<div class="exp1">
    <div class="con3">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#contactdetail" aria-selected="true" role="tab">Contact Detail</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#adressdetail" aria-selected="false" tabindex="-1" role="tab">Adress Detail</a>
            </li>
        </ul>
    </div>
    <div class="con2">
        <div class="row">
            <div class="con1 " style="padding-left: 60px;">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show" id="contactdetail" role="tabpanel">
                            <input type="hidden" asp-for="ContactId" />
                            <div class="row mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactCode" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactCode" class="form-control col" style="width: 75%" />
                                    <span asp-validation-for="ContactCode" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactName" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactName" class="form-control col" style="width: 75%" />
                                    <span asp-validation-for="ContactName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactComName" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactComName" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactComName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                </div>
                                <div class="col-5 col-sm-5">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactPhone" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactPhone" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactEmail" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactEmail" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactEmail" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactMobile" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactMobile" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactMobile" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactWeb" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactWeb" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactWeb" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactDirectDail" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactDirectDail" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactDirectDail" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactGroup" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm5">
                                    <select asp-for="ContactGroup" class="form-control" style="width: 75%" >
                                        <option>Customer</option>
                                        <option>Supplier</option>
                                    <</select>
                                    <span asp-validation-for="ContactGroup" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactFax" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactFax" class="form-control" style=" width: 75%" />
                                    <span asp-validation-for="ContactFax" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                </div>
                                <div class="col-5 col-sm-5">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="adressdetail" role="tabpanel">

                            <div class="row mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactPerson1" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactPerson1" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactPerson1" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactPerson2" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactPerson2" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactPerson2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row  mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactAddress1" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactAddress1" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactAddress1" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactAddress2" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactAddress2" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactAddress2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactZipCode1" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactZipCode1" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactZipCode1" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactZipCode2" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-1">
                                    <input asp-for="ContactZipCode2" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactZipCode2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactCity1" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactCity1" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactCity1" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactCity2" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactCity2" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactCity2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactCountry1" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactCountry1" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactCountry1" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label asp-for="ContactCountry2" class="control-label"></label>
                                </div>
                                <div class="col-5 col-sm-5">
                                    <input asp-for="ContactCountry2" class="form-control" style="width: 75%" />
                                    <span asp-validation-for="ContactCountry2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group mb-3" hidden>
                                <label asp-for="ContactUser" class="control-label"></label>
                                <input asp-for="ContactUser" class="form-control" />
                                <span asp-validation-for="ContactUser" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3" hidden>
                                <label asp-for="Id" class="control-label"></label>
                                <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <input type="submit" value="Save" class="btn btn-primary mb-3" style="width: 200px;" />
                            <a asp-action="Index" class="btn btn-secondary mb-3" style="width: 200px;">Back to List</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
